---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Experience from '../components/Experience.astro';

const title = 'Andres Alvarado';
const description = 'Desarrollador web';

---

<Layout {title} {description}>
	<div class="lg:flex lg:justify-between lg:gap-4">
		<Header />
		<main class="w-1/2 py-24">
			<section id="about" class="mb-16" aria-label="Sobre mi">
				<p class="mb-4">
					En 2018 me interesé por el desarrollo web y he estado aprendiendo de forma autodidacta hasta que realice un curso de PHP y en el que hice prácticas en <a href="http://eventscase.com/" class="link-underline font-medium text-slate-200" target="_blank" rel="noreferrer noopener">Eventscase</a>, una empresa de gestión de eventos, en el que he estado más de 4 años trabajando y aprediendo como desarrollador web tanto de <strong class="text-slate-200">Back-end</strong> como <strong class="text-slate-200">Front-end</strong>.
				</p>
				<p>
					Si avanzamos hasta el día de hoy, mi objetivo es seguir creciendo como desarrollador web y aprender más sobre las nuevas tecnologías y herramientas que se creen cada día.
				</p>
			</section>
			<section id="experience" class="mb-16"	aria-label="Experiencia laboral">
				<div>
					<Experience />
				</div>
			</section>
		</main>
	</div>
</Layout>
