---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Andrés Alvarado">
	<div class="flex justify-between gap-4">
		<header class="sticky top-0 flex max-h-screen w-1/2 flex-col py-24">
			<h1 class="text-4xl font-bold tracking-tighter text-slate-200">
				<a href="/" class="hover:text-teal-300">Andrés Alvarado</a>
			</h1>
			<h2 class="mt-3 text-lg font-medium tracking-tighter text-slate-200">Desarrollador web</h2>
			<p class="mt-4 max-w-xs leading-normal">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat necessitatibus quidem iure accusamus neque mollitia quas omnis odit voluptate laborum fugit corrupti ullam velit dolores quaerat officiis dolorum, repudiandae unde?</p>
		</header>
		<main class="w-1/2 py-24">
			Optio, veritatis eveniet neque eos ipsa molestiae quam! Ullam maxime tempora aspernatur molestiae iste quaerat ut perferendis veritatis repudiandae, id odit ea facilis veniam magni laboriosam cupiditate unde temporibus quibusdam!
			Iure reiciendis molestiae saepe repellendus facere modi sit! Corporis non ea, ullam mollitia doloremque officiis animi at sed. Reiciendis cum nobis magnam laudantium, eius commodi cupiditate necessitatibus maiores optio ea.
			Necessitatibus voluptatem molestias, dolor temporibus explicabo, cumque accusantium qui, ratione tempora perferendis voluptatibus soluta vero exercitationem nostrum doloremque recusandae aut. Modi sunt temporibus ratione voluptate amet magni non esse blanditiis?
			Ab, nam magnam ut eos aut ratione esse! Doloremque sequi
		</main>
	</div>
</Layout>
