---
import { socialData } from '../data/navData'; 
import { Icon } from 'astro-icon';
---

<header class="sticky top-0 flex max-h-screen w-1/2 flex-col justify-between py-24">
  <div>
    <h1 class="text-4xl font-bold tracking-tighter text-slate-200">
      <a href="/" class="link-underline">Andrés Alvarado</a>
    </h1>
    <h2 class="mt-3 text-lg font-medium tracking-tighter text-teal-300">Desarrollador web</h2>
    <p class="mt-4 max-w-xs leading-normal">I build accessible, inclusive products and digital experiences for the web.</p>
  </div>
  <ul class="flex gap-4" aria-label="Social media">
    {
      socialData.map((social) => (
        <li>
          <a href={social.url} title={social.name} class="hover:text-teal-300" target="_blank" rel="noopener noreferrer">
            <Icon name={social.icon} width="30" class="hover:scale-110 transition duration-300"/>
          </a>
        </li>
      ))
    }
  </ul>
</header>

<style is:global>
  .link-underline {
    display: inline-block;
  }
  .link-underline::after {
    --font-color: rgb(94 234 212 / 1);
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--font-color);
    transition: width 0.3s ease-in-out;
    
  }
  .link-underline:hover::after {
    width: 100%;
  }
</style>